h1 {
    color: map-get($color-encabezados, h1);
    font-size: xx-large;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: $font-family-newParagraph;

    &:hover {
        text-decoration: underline;
        color: rgba(map-get($color-encabezados, h1), 0.8);
    }
}

h2 {
    color: map-get($color-encabezados, h2);
    font-family: $font-family-newParagraph;  
    margin-top: $marginTop; 

    &:hover {
        text-decoration: underline;
        color: rgba(map-get($color-encabezados, h2), 0.8);
    }
}

h3 {
    color: map-get($color-encabezados, h3);
    font-family: $font-family-newParagraph;
    margin-top: $marginTop;

    &:hover {
        text-decoration: underline;
        color: rgba(map-get($color-encabezados, h3), 0.8);
    }
}