//TAMAÑO FUENTE
$font-size-menu: 18px;

//COLORES TEXTO
$color-newParagraph: #3f37c9;
$color-pNews: #343a40;
$color-menu: #fff;

//ESTILOS DE TEXTO
$font-family-normalParagraph: 'Roboto', sans-serif;
$font-family-newParagraph: 'Open Sans', sans-serif;

//ESPACIO MARGEN
$marginTop: 50px;

//ANCHO FORMULARIO
$form-width: 40%;